$fixed-white: #fff;
$fixed-black: #000;

$primary-color: #8A1538;
$primary-text-color: #333;
$secondary-text-color: #A6A6A6;
$primary-bg-color: #fff;
$secondary-bg-color: #edeff0;
$border-color: #C0C0C0;

$fs-vsm: 12px;
$fs-sm: 14px;
$fs-base: 16px;
$fs-md: 18px;
$fs-main-heading: 60px;
