<footer>
    <div class="container text-center">
        <ul class="inline-list socials-list">
            <li>
                <a href="#" class="btn">
                    <i class="icon icon-X"></i>
                </a>
            </li>
            <li>
                <a href="#" class="btn">
                    <i class="icon icon-youtube"></i>
                </a>
            </li>
            <li>
                <a href="#" class="btn">
                    <i class="icon icon-facebook"></i>
                </a>
            </li>
            <li>
                <a href="#" class="btn">
                    <i class="icon icon-threads"></i>
                </a>
            </li>
            <li>
                <a href="#" class="btn">
                    <i class="icon icon-instgram"></i>
                </a>
            </li>
        </ul>
        <p class="copy-rights">All copyrights ©&nbsp; reserved 2024.</p>
    </div>
</footer>